/* common section  */
<style>@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

 </style>
 * {
     font-family: 'Merriweather', serif;
     margin: 0px;
     padding: 0px;
     width: 80%;
     justify-content: center;
     align-items: center;
 }
 /* header style  */

 .banner-container {
     background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
     background-position: center;
     background-repeat: no-repeat;
     text-align: center;
     border-radius: 16px;
     background-size: cover;
     margin-right: 100px;
     margin-left: 100px;

 }

 .header {
     color: #fff;
 }

  .banner-header { 
     font-size: 32px;
     padding-top: 100px; 



 }

  .banner-title {
     font-size: 52px;
     padding-bottom: 380px;
     padding-left: 300px;
    padding-right: 300px;
      line-height: 95px; 

 }
 /* 60% discount section style */

 .section-1 {
     text-align: center;
     margin-top: 50px;
 }

 .s1-h1 {
     color: #F00;
     font-size: 50px;
     margin-bottom: 40px;
    
 }

 .s1-h5 {
     color: #F00;
     font-size: 20px;
 }

 .s1-h2 {
     color: #070211;
     font-size: 35px;
 }
 /* welcome to party style  */

 .s3 {
     background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
     background-repeat: no-repeat;
     text-align: left;
     margin:50px 100px;
 }

 .s3-content {
     display: flex;
     justify-content: space-between;

 }

 .s3-header {
     color: #FFF;
     font-size: 50px;
     padding-left: 50px;
     padding-top: 50px;
     padding-right: 450px;
 }

 .s3-descriptiion {
     color: rgba(255, 255, 255, 0.80);
     padding-left: 50px;
     padding-top: 0px;
     padding-right: 500px;
 }

 #h5{
     padding-left: 80px;
     color: #fff;
 }

 .img {
     padding-right: 100px;
     padding-bottom: 100px;
     padding-top: 80px;
 }
 /* place date and time section style  */

 .s4 {
     text-align: center;
     padding-top: 50px;
     background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
     margin: 50px 100px;
 }

 .color {
     color: #F00;
 }

 .s4-btn {
     border-radius: 8px;
     background: #F00;
     padding: 16px 32px;
     color: #FFF;
     font-size: 15px;
     border-style: none;

 }
 /* coming soon 2024 section style   */

 .s5 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 90%;
     gap:50px;
     margin-top:50px ;
     margin-left:100px ;
     margin-right:100px ;
     /* margin-bottom: ; */
 }

 .s5-header {
     color: #F00;
 }

 .s5-title {
     color: #070211;
     font-size: 48px;
 }

 .s5-description {
     color: rgba(7, 2, 17, 0.60);
 }

 .s5-h3 {
     color: #F00;
     font-size: 48px;
 }

 .s5-div1 {
    padding-right: 0px;
     text-align: left;
     width:30% ;
 }

 .s5-img {

     border: 10px solid red;
     border-radius: 100%;

 }

 .s5-img img {
     padding: 10px;

 }

 .s5-div3 {
    padding-top: 50px;
     padding-left: 10px;
     text-align: left;
     width: 30%;
 }
 /* Holidays sale 50% section style  */
    
 .s6 {
     text-align: center;
     margin: 50px 100px;
     padding: 50px 80px;
 }

 .s6-h1 {
     color: #F00;
     font-size: 50px;

 }

 .s6-h4 {
     color: #070211;
     font-size: 24px;
 }

 .sale {
     color: #070211;
 }
 
 /* bonus section  */
 .container{
    background-image:url('../resources/Group\ 44.png') ,url('../resources/Rectangle\ 1.png');
background-repeat: no-repeat;
background-position: center, right;
margin-right: 200px;
margin-left: 100px;

}
/* our awesome portfolio  */

 .s7-text {
     margin: 50px 100px;
     padding-right: 350px;
 }

 .s7-title {
     color: #F00;
 }

 .s7-header {
     color: #070211;
 }
 /* images section  */

  .img1{
     cursor: pointer;
     transition: 1s;
     margin-top: ;
 }

 .img1:hover {
     opacity: 70%;
 } 

 .row {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 15px;
     margin-top: 15px;
 }
 /* subscribe section  */

 .s8 {
     text-align: center;
     align-content: center;
     border-radius: 16px;
     background: rgba(255, 0, 0, 0.05);
     margin: 50px 100px;
     padding-left: 300px;
     padding-right: 300px;
     padding-top: 70px;
     padding-bottom: 150px;

 }
 .s8-form{
    display: flex;
 }

 .email {
     border-radius: 50px;
     background: #FFF;
     width: 250px;
     height: 40px;
     border-style: none;
 }

 .s8-btn {
     border-radius: 0px 50px 50px 0px;
     background: #F00;
     height: 40px;
     border-style: none;
     color: #FFF;
     text-align: center;
     font-size: 18px;
     font-weight: 600;
     margin-left:-6px;
 }
 /* footer section  */

 .footer-basic {
     background-color: #070211;
     padding: 50px 100px;
     color: #FFF;

 }

 .footer-style {

     display: flex;
     justify-content: space-between;
 }

 .last {
     display: flex;
     gap: 10px;

 }


 .footer-images {
     padding-top: 50px;
     padding-bottom: 50px;
     padding-left: 500px;

 }

 .copy-right {
     display: flex;
     justify-content: space-between;
     padding: 50px;

 }