 <style>@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
 </style><syle>@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700;800&display=swap');

 </style>* {
     font-family: 'Merriweather', serif;
     font-family: 'Inter', sans-serif;
     margin: 0px;
     padding: 0px;
     width: 80%;
     justify-content: center;
     align-items: center;
 }

 .banner-container {
     background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
     background-repeat: no-repeat;
     text-align: center;
     border-radius: 16px;
     /* background-size: cover; */
     margin: 0px 120px;


 }

 .header {
     color: #fff;
 }

 .banner-header {
     font-size: 32px;
     padding-top: 100px;



 }

 .banner-title {
     font-size: 52px;
     padding-left: 450px;
     padding-bottom: 380px;
     padding-right: 450px;
     line-height: 95px;

 }

 .section-1 {
     text-align: center;

 }

 .s1-h1 {
     color: #F00;
     font-family: Inter;
     font-size: 50px;
     margin-bottom: 40px;
 }

 .s1-h5 {
     color: #F00;
     font-family: Inter;
     font-size: 20px;
 }

 .s1-h2 {
     color: #070211;
     font-size: 35px;
 }

 .s3 {
     background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
     background-repeat: no-repeat;
     text-align: left;
     margin: 50px 125px;
 }

 .s3-content {
     display: flex;
     justify-content: space-between;
 }

 .s3-header {
     color: #FFF;
     font-size: 50px;
     padding-left: 50px;
     padding-top: 50px;
     padding-right: 450px;
 }

 .s3-descriptiion {
     color: rgba(255, 255, 255, 0.80);
     font-family: Inter;
     padding-left: 50px;
     padding-top: 0px;
     padding-right: 500px;
 }

 #h5 {
     padding-left: 50px;
     color: #fff;
 }

 .img {
     padding-right: 100px;
     padding-bottom: 100px;
     padding-top: 80px;
 }

 .s4 {
     text-align: center;
     padding-top: 50px;
     background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
     margin: 50px 125px;
 }

 .color {
     color: #F00;
 }

 .s4-btn {
     border-radius: 8px;
     background: #F00;
     padding: 16px 32px;
     color: #FFF;
     font-family: Inter;
     font-size: 15px;
     border-style: none;

 }

 .s5 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 70px 125px;
     gap: 20px;
 }

 .s5-header {
     color: #F00;
     font-family: Inter;
 }

 .s5-title {
     color: #070211;
     font-family: Merriweather;
     font-size: 48px;
 }

 .s5-description {
     color: rgba(7, 2, 17, 0.60);
     font-family: Inter;
     /* font-size: 10px; */
 }

 .s5-h3 {
     color: #F00;
     font-family: Inter;
     font-size: 48px;
     font-weight: 700;
 }

 .s5-div1 {
     padding-right: 50px;
     text-align: left;
 }

 .s5-img {

     border: 10px solid red;
     border-radius: 100%;
 }

 .s5-img img {
     padding: 15px;

 }

 .s5-div3 {
     padding-left: 80px;
     text-align: left;
 }

 .s6 {
     text-align: center;
     margin: 50px 125px;
     padding: 50px 80px;
 }

 .s6-h1 {
     color: #F00;
     font-family: Merriweather;
     font-size: 50px;

 }

 .s6-h4 {
     color: #070211;
     font-family: Inter;
     font-size: 24px;
 }

 .sale {
     color: #070211;
     font-family: Merriweather;
 }

 .discount {}

 .s7-text {
     margin: 50px 125px;
     padding-right: 350px;
 }

 .s7-title {
     color: #F00;
     font-family: Inter;
 }

 .s7-header {
     color: #070211;
     font-family: Merriweather;
 }

 .s7-img {
     cursor: pointer;
     transition: 1s;
 }

 .img1:hover {
     opacity: 70%;
 }

 .row {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 15px;
     margin-top: 15px;
 }

 .s8 {
     text-align: center;
     align-content: center;
     border-radius: 16px;
     background: rgba(255, 0, 0, 0.05);
     margin: 25px 125px;
     padding-left: 300px;
     padding-right: 300px;
     padding-top: 70px;
     padding-bottom: 150px;

 }

 .email {
     border-radius: 50px;
     background: #FFF;
     width: 250px;
     height: 40px;
     border-style: none;
 }

 .s8-btn {
     border-radius: 0px 50px 50px 0px;
     background: #F00;
     height: 40px;
     border-style: none;
     color: #FFF;
     text-align: center;
     font-size: 18px;
     font-weight: 600;
 }
 .footer-basic{
    background-color: #070211;
    padding:50px 125px;
    color: #FFF;

 }
 .footer-style{
   
    display: flex;
    justify-content:space-between;
 }
 .last{
    display: flex;
    gap: 10px;
    
 }

 
 .footer-images{
    padding-top:50px ;
    padding-bottom: 50px;
    padding-left:500px ;

 }
 .copy-right{
    display: flex;
    justify-content: space-between;
    padding:50px;
    
 }
 
 
 

